.step {
  width: 50%;
  height: 100px;
  opacity: .6;
  transition: .4s;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;

  &.active {
    opacity: 1;
  }

  &:hover {
    opacity: .75;
  }
}